html{
    background-color: white;    
}
body{
    width: 800px;
    height: 480px;
    color: white;
    text-shadow: 1px 0 0 #575757, 0 -1px 0 #575757, 0 1px 0 #575757, -1px 0 0 #575757;
    /* color: #333; */
    background-color: linear-gradient(to bottom right, #3cc0fe 20%, #0066ff);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(to right bottom,rgb(2, 149, 218) 20%,rgb(2, 68, 167));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    display: flex;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 1.9em;
    margin: 0;
}
.container_title{
    font-size: 0.8em;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}
.container_sub_title{
    font-size: 0.8em;
}
#current_description{
    text-transform: capitalize;
    font-size: 1em;
    text-align: center;
}
.value{
    font-size: 1.6em;
}
.units{
    font-size: 0.8em;
    font-weight: 150;
}
#forcast_weather_container{
    flex-wrap: wrap;
    width: 100%;
}
.forcast_container{
    background-color: lightblue;
}
#date_time_container{
    width: 100%;
    height: 30px;
    text-align: center;
    font-size: 1.2em;
}
#current_weather_container{
    width: 35%;
    margin: 10px;
}
#indoors_weather_container{
    margin: 10px;
    width: 35%;
}
#weather_image_container{
    margin: 10px;
    width: 30%;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display: flex;
    flex-direction: column;
}
.space-between{
    justify-content: space-between;
}
.center {
    justify-content: center;
}
