<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src="main.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Weather</title>
    </head>
    <body>
        <div id="current_temp"></div>
        <div id="current_pressure"></div>
        <div id="current_humidity"></div>
        <div id="current_wind_speed"></div>
        <div id="current_wind_direction"></div>
        <div id="current_temp_min"></div>
        <div id="current_temp_max"></div>
        <div id="current_datetime"></div>
    </body>
</html>