<html>
    <head>
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta content="utf-8" http-equiv="encoding">
        <script src="main.js"></script>
        <link rel="stylesheet" href="style.css">
        <title>Weather</title>
    </head>
    <body>
        <div id="temp"></div>
        <div id="pressure"></div>
        <div id="humidity"></div>
        <div id="wind_speed"></div>
        <div id="wind_dir"></div>
        <div id="temp_min"></div>
        <div id="temp_max"></div>
    </body>
</html>